<div class="row" ng-repeat="row in rows">
    <button class="col button" ng-repeat="number in row" on-touch="selectNumber({number: number})">{{number}}</button>
    <!--<button class="col button" on-touch="selectNumber(8)">8</button>-->
    <!--<button class="col button" on-touch="selectNumber($event)">9</button>-->
</div>
<!--<div class="row">-->
    <!--<button class="col button" on-touch="selectNumber($event)">4</button>-->
    <!--<button class="col button" on-touch="selectNumber($event)">5</button>-->
    <!--<button class="col button" on-touch="selectNumber($event)">6</button>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<button class="col button" on-touch="selectNumber($event)">1</button>-->
  <!--<button class="col button" on-touch="selectNumber($event)">2</button>-->
  <!--<button class="col button" on-touch="selectNumber($event)">3</button>-->
<!--</div>-->
