<ion-view view-title="Account">
  <ion-content ng-show="!main.isConnected()">
    <div class="row">
      <button class="button icon-left button-full button-positive" ui-sref="signin">Sign in</button>
    </div>
    <div class="row">
      <button class="button icon-left button-full button-balanced" ui-sref="signup">Sign up</button>
    </div>
  </ion-content>
  <ion-content ng-show="main.isConnected()">
    <ion-list>
      <ion-toggle ng-model="account.settings.sharingEnabled" ng-change="main.enableSharing()">
        Enable Share
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
